<div id="<%= dom_id spell %>">
  <p>
    <strong>Name:</strong>
    <%= spell.name %>
  </p>

  <p>
    <strong>Pips:</strong>
    <%= spell.pips %>
  </p>

  <p>
    <strong>School:</strong>
    <%= spell.school %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= spell.accuracy %>
  </p>

  <p>
    <strong>Damage:</strong>
    <%= spell.damage %>
  </p>

</div>
